body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: 75vh;
    max-width: 80%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

button {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: black;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 30px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

nav {
    background-color: black;
    color: white;
    padding: 1px 20px;
    margin-bottom: 10px;
}